@model RezultatiDetaljiVM
@{
    ViewData["Title"] = "RezultatiPV";
}

<style>

    .DA{
        background-color: green;
        color:white

    }
    .NE {
        background-color: red;
        color: white
    }
</style>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th>
                Odjeljenje

            </th>
            <th>
                Skola

            </th>
            <th>
                Broj u Dnevniku
            </th>
            <th>
                Pristupio
            </th>
            <th>
                Rezultat bodovi
                (max 100)
                //Spremanje bodova se moze izvrsiti klikom na Enter dok se nalazimo u formi za unos bodova//
            </th>
            <th>
                Akcija
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Ucesnici)
        {
            <tr>
                <td>
                    @item.Odjeljenje

                </td>
                <td>
                    @item.Skola

                </td>
                <td>
                    @item.BrojUDnevniku

                </td>
                <td>
                    @if (Model.Zakljuceno)
                    {
                        //Dodavanje klase na osnovu PristupioString(DA,NE) ( style je definisan na pocetku dokumenta)
                        <span class="@item.PristupioString">
                            @item.PristupioString
                        </span>
                    }
                    else
                    {

                        <a class="@item.PristupioString" ajax-poziv="da" href="/Takmicenje/Prisustvo?UcesnikID=@item.TakmicenjeUcesinkID" ajax-rezultat="ajaxDiv">
                            @item.PristupioString
                        </a>
                    }

                </td>
                <td>
                    @if (!Model.Zakljuceno)
                    {


                        <form ajax-poziv="da" ajax-rezultat="ajaxDiv" action="/Takmicenje/UpdateBodova">
                            <input name="TakmicenjeUcesinkID" value="@item.TakmicenjeUcesinkID" hidden="hidden" />
                            <input name="Bodovi" value="@item.Bodovi" />
                            <button style="visibility:hidden" hidden="hidden" type="submit" class="btn btn-primary">Snimi</button>
                        </form>
                    }
                    else
                    {
                        <span>@item.Bodovi</span>
                    }

                </td>
                <td>
                    @if (!Model.Zakljuceno)
                    {
                        <a ajax-poziv="da" href="/Takmicenje/UpdateBodova?UcesnikID=@item.TakmicenjeUcesinkID" ajax-rezultat="ajaxDiv">Uredi</a>
                    }
                   
                    </td>
            </tr>

        }
    </tbody>
</table>
